webfront/node-red-example-command-flow.json
[{"id":"ac7e4b52.fd95b8","type":"tab","label":"VeryNiceTTS Command Example","disabled":false,"info":""},{"id":"e530506e.8cb86","type":"json","z":"ac7e4b52.fd95b8","name":"","property":"payload","action":"","pretty":false,"x":230,"y":160,"wires":[["35a30665.af4a0a","c8348783.c198f8","ec865031.d7167","9f6f5378.1bbdf","487099b4.cabdf8","a4222a1e.e3f8a8","a398e3e2.15a14","e2261ff1.915be","22a675b1.7d722a"]]},{"id":"e2e12357.7b58c","type":"websocket in","z":"ac7e4b52.fd95b8","name":"","server":"2d11a413.004fdc","client":"","x":70,"y":120,"wires":[["e530506e.8cb86"]]},{"id":"35a30665.af4a0a","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"camera one","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":60,"wires":[["3c5363d6.e6072c"]]},{"id":"3c5363d6.e6072c","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"GoPro Cam Front - MIC","sceneType":"str","obsInstance":"1235af9e.96d1c","x":670,"y":60,"wires":[[]]},{"id":"c8348783.c198f8","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"camera to","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":100,"wires":[["c8c46d76.91eb5"]]},{"id":"ec865031.d7167","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"camera 3","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":140,"wires":[["1ac5a09b.c2a54f"]]},{"id":"9f6f5378.1bbdf","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"camera for","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":180,"wires":[["bdb4c8df.ad2398"]]},{"id":"c8c46d76.91eb5","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"Tiny Overhead - MIC","sceneType":"str","obsInstance":"1235af9e.96d1c","x":670,"y":100,"wires":[[]]},{"id":"1ac5a09b.c2a54f","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"Tiny Front - MIC","sceneType":"str","obsInstance":"1235af9e.96d1c","x":670,"y":140,"wires":[[]]},{"id":"bdb4c8df.ad2398","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"Desktop Full Clean","sceneType":"str","obsInstance":"1235af9e.96d1c","x":670,"y":180,"wires":[[]]},{"id":"2fcd8f12.499bf","type":"http request","z":"ac7e4b52.fd95b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://homeassistant.local:8123/api/states/scene.dance_party","tls":"","persist":false,"proxy":"","authType":"bearer","x":670,"y":460,"wires":[[]]},{"id":"487099b4.cabdf8","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"dance party","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":260,"wires":[["3c979ec4.869ce2","97f1ec27.ddfa8"]]},{"id":"b3b18fa8.65a3f","type":"http request","z":"ac7e4b52.fd95b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://homeassistant.local:8123/api/services/scene/turn_on","tls":"","persist":false,"proxy":"","authType":"bearer","x":930,"y":260,"wires":[["e5aaece6.abcc2"]]},{"id":"255393be.009d3c","type":"inject","z":"ac7e4b52.fd95b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":300,"wires":[["3c979ec4.869ce2","97f1ec27.ddfa8"]]},{"id":"e5aaece6.abcc2","type":"debug","z":"ac7e4b52.fd95b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"b8dcc6f0.92d708","type":"http request","z":"ac7e4b52.fd95b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://homeassistant.local:8123/api/services/switch/turn_off","tls":"","persist":false,"proxy":"","authType":"bearer","x":930,"y":300,"wires":[["e5aaece6.abcc2"]]},{"id":"3c979ec4.869ce2","type":"change","z":"ac7e4b52.fd95b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":\"scene.dance_party\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["b3b18fa8.65a3f"]]},{"id":"97f1ec27.ddfa8","type":"change","z":"ac7e4b52.fd95b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":\"switch.leviton_15a_outlet_1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["b8dcc6f0.92d708"]]},{"id":"a4222a1e.e3f8a8","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"lights full","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":360,"wires":[["73cf027b.eddc6c","c02a5155.f70a2"]]},{"id":"e4a45faf.0a5c4","type":"http request","z":"ac7e4b52.fd95b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://homeassistant.local:8123/api/services/scene/turn_on","tls":"","persist":false,"proxy":"","authType":"bearer","x":930,"y":340,"wires":[["e5aaece6.abcc2"]]},{"id":"8e55a19e.1993","type":"http request","z":"ac7e4b52.fd95b8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://homeassistant.local:8123/api/services/switch/turn_on","tls":"","persist":false,"proxy":"","authType":"bearer","x":930,"y":380,"wires":[["e5aaece6.abcc2"]]},{"id":"c02a5155.f70a2","type":"change","z":"ac7e4b52.fd95b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":\"switch.leviton_15a_outlet_1\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":380,"wires":[["8e55a19e.1993"]]},{"id":"73cf027b.eddc6c","type":"change","z":"ac7e4b52.fd95b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"entity_id\":\"scene.full_on_warm\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":340,"wires":[["e4a45faf.0a5c4"]]},{"id":"208b5527.bc346a","type":"inject","z":"ac7e4b52.fd95b8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":400,"wires":[["73cf027b.eddc6c","c02a5155.f70a2"]]},{"id":"a398e3e2.15a14","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"warhol","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":220,"wires":[["b9073074.7086f"]]},{"id":"b9073074.7086f","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"All Camera Grid Warhol","sceneType":"str","obsInstance":"1235af9e.96d1c","x":670,"y":220,"wires":[[]]},{"id":"e2261ff1.915be","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"ban the sushi dragon","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":520,"wires":[["e9b4c831.b712f8"]]},{"id":"1342cc91.b45aa3","type":"tmi-command-ban","z":"ac7e4b52.fd95b8","config":"","name":"","x":890,"y":520,"wires":[[],[]]},{"id":"e9b4c831.b712f8","type":"change","z":"ac7e4b52.fd95b8","name":"","rules":[{"t":"set","p":"payload.username","pt":"msg","to":"thesushidragon","tot":"str"},{"t":"set","p":"payload.channel","pt":"msg","to":"security_live","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":520,"wires":[["1342cc91.b45aa3"]]},{"id":"22a675b1.7d722a","type":"switch","z":"ac7e4b52.fd95b8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"regex","v":"be right back","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":620,"wires":[["53d1b932.32f0a8"]]},{"id":"53d1b932.32f0a8","type":"SetCurrentScene","z":"ac7e4b52.fd95b8","name":"","scene":"All Camera Grid Warhol Be Right Back","sceneType":"str","obsInstance":"1235af9e.96d1c","x":690,"y":620,"wires":[[]]},{"id":"2d11a413.004fdc","type":"websocket-listener","path":"/stt","wholemsg":"false"},{"id":"1235af9e.96d1c","type":"obs-instance","name":"","host":"localhost","port":"4333"}]